@model VehicleServiceBook.ViewModels.FaultEditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Edytuj usterkę";
}


<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        @Html.HiddenFor(model => model.FaultId)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="choosePlan" class="col-sm-2 label-size col-form-label">
                    Pojazd
                </label>
                <div class="col-sm-3">
                    <select asp-for="@Model.VehicleId" class="form-control" asp-items="ViewBag.VehicleModelID">
                    </select>
                </div>
            </div>
            <div class="row">
                @if (User.IsInRole("Kierowca"))
                {
                    <div class="col">
                        <button type="submit" onclick="return validateInput()" class="btn btn-success form-control" asp-controller="Account" asp-action="Logout">Zatwierdź zmiany i wyloguj</button>
                    </div>
                }
                @if ((User.IsInRole("Admin")) || (User.IsInRole("Obsługa")))
                {
                    <div class="col">
                        <a asp-action="Index" class="btn btn-primary form-control">Powrót do listy</a>
                    </div>
                }
                <div class="col">
                    <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Edytuj</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>

    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });


        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }
            return true;
        };

    </script>

}



