@model VehicleServiceBook.ViewModels.VehicleEditViewModel

@{
    Layout = null;
    var title = "Edytuj pojazd";
}

<style>
    #warrantyCheckboxEdit {
        text-align: left;
    }
</style>
<form method="post" enctype="multipart/form-data">
    <div class="row border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-12 pt-4">
            <div class="form-group row">
                <div class="col-5">
                    <label asp-for="Vehicle.Number"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Vehicle.Number" class="form-control" />
                    <span asp-validation-for="Vehicle.Number" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5">
                    <label asp-for="Vehicle.VIN"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Vehicle.VIN" class="form-control" />
                    <span asp-validation-for="Vehicle.VIN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5">
                    <label asp-for="Vehicle.PlateNumber"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Vehicle.PlateNumber" class="form-control" />
                    <span asp-validation-for="Vehicle.PlateNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5">
                    <label asp-for="Vehicle.RegistrationDate"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Vehicle.RegistrationDate" class="form-control" />
                    <span asp-validation-for="Vehicle.RegistrationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="choosePlan" class="col-5 label-size col-form-label">
                    Producent
                </label>
                <div class="col-7">
                    <select asp-for="@Model.Vehicle.ProducerId" class="form-control" asp-items="ViewBag.ProducerModelID">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5">
                    <label asp-for="Vehicle.IsOnWarranty"></label>
                </div>
                <div class="col-7" id="warrantyCheckboxEdit">
                    @Html.CheckBoxFor(m => m.Vehicle.IsOnWarranty)
                </div>
            </div>
            <div id="warrantyTermsEdit" class="form-group row">
                <div class="col-5">
                    <label asp-for="Vehicle.WarrantyTerms"></label>
                </div>
                <div class="col-7" id="warrantyTermsInputEdit">
                    <input asp-for="Vehicle.WarrantyTerms" class="form-control" />
                    <span asp-validation-for="Vehicle.WarrantyTerms" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Edytuj</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Powrót do listy</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

</script>
@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />

                    //tinymce.init({
                    //    selector: 'textarea',
                    //    plugins: 'lists',
                    //    menubar: 'file edit format'
                    //});


                    //function validateInput() {
                    //    if (document.getElementById("uploadBox").value == "") {
                    //        swal("Error", "Please select an image", "error");
                    //        return false;
                    //    }
                    //    return true;
                    //};



}*@

